doctype html
html
    include head
    body
        nav.navbar.is-spaced.is-large
            .navbar-brand
                a(href='/')
                    if(logo)
                        img(src=logo width="200" height="28")
                    else
                        #{name}
                .navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', onclick="document.querySelector('.navbar-menu').classList.toggle('is-active'); document.querySelector('.navbar-burger').classList.toggle('is-active');")
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
            .navbar-menu   
                .navbar-end
                    a.navbar-item(href='#menu') Menu
                    a.navbar-item(href='#timetable') Orari
                    a.navbar-item(href='#address') Dove siamo
                    .buttons.is-hidden-touch
                        if(whatsappNumber)
                            a.button.is-primary(href=`https://wa.me/39${whatsappNumber}`) Ordina su Whatsapp
                        a.button.is-info(href=`tel:${tel}`) Chiama
        .section.hero.is-medium.has-carousel
            div(id="carousel" class="hero-carousel has-text-centered")
                each image in images
                    if(image.name !== "cover")
                        .item
                            img(src=image.link)
            .hero-body.has-text-centered
                h1(class='title is-size-1-desktop is-size-3-mobile has-text-white') #{name}
        .section.is-medium
            .container
                .columns.is-centered.is-vcentered
                    .column.is-one-third.has-text-centered
                        p.subtitle.is-size-3-desktop.is-size-5-mobile.is-italic #{description} 
                    .column.is-1            
                    .column.is-one-third.is-vcentered
                        each image in images
                            if(image.name === "cover")
                                figure.image.is-square
                                    img.is-rounded(src=image.link)
        .section.is-medium.has-background-black(id='menu')
            .container
                .columns.is-centered
                    .column.is-half.has-text-centered
                        p.title.is-size-1-desktop.is-size-2-mobile.has-text-warning-dark LE NOSTRE PIZZE
                        br
            .container
                .columns.is-centered
                    .column.is-half.has-text-left
                        each category in categories
                            .box.has-background-warning-light
                                p.is-size-3-desktop.is-size-4-mobile.is-uppercase.has-text-centered #{category.name}
                                br
                                each product in products
                                    if product.category === category.name
                                        p.is-size-4-desktop.is-size-5-mobile.has-text-weight-bold.has-text-centered #{product.name} #{product.price}€
                                        p.subtitle.is-size-5-desktop.is-size-6-mobile.has-text-centered.is-italic #{product.description}
                    
        .section.hero.is-white.is-small
            .hero-body
                .container
                    .columns.is-centered
                        .column.is-one-third.has-text-centered(name='timetable')
                            p.title.is-size-1-desktop.is-size-2-mobile(id='timetable') Orari
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Lunedì: #{timeTable.monday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Martedi: #{timeTable.tuesday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Mercoledi: #{timeTable.wednesday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Giovedi: #{timeTable.thursday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Venerdi: #{timeTable.friday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Sabato: #{timeTable.saturday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Domenica: #{timeTable.sunday}
                        .column.is-one-third.has-text-centered(name='address')
                            p.title.is-size-1-desktop.is-size-2-mobile(id='address') Dove siamo
                                p.subtitle.is-size-3-desktop.is-size-4-mobile #{address}
        .section.hero.is-black.is-small
            .hero-body
                .container
                    .columns.is-centered
                        .column.is-one-fifth.has-text-centered.has-text-white
                            p © 2020 #{name} P.IVA: #{piva} Tutti i diritti riservati
        script.
            bulmaCarousel.attach('#carousel', {slidesToScroll: 1, slidesToShow: 1, navigation: false, navigationKeys: false, autoplay: true, infinite: true, pauseOnHover: false});
        block content