doctype html
html
    include head
    body
        .section
            .columns   
                .column.is-2
                .column.is-8
                    nav.navbar
                        .navbar-brand
                            a.navbar-item(href='/') #{name}
                        .navbar-menu
                            .navbar-start
                                a.navbar-item(href='') Menu
                                a.navbar-item(href='') Orari
                                a.navbar-item(href='') Dove siamo
                            .navbar-end
                                .navbar-item
                                .buttons
                                    a.button.is-primary(href='') Ordina su Whatsapp
                                    a.button.is-info(href='') Chiama
                .column.is-2
        .section
            .container
                .columns.is-vcentered.is-desktop
                    .column.is-2
                    .column.is-4
                        p.title.is-1 Ordina online
                        p.subtitle.is-3 #{description}               
                    .column.is-4
                        img.image(src='#{image}')
                    .column.is-2
        .section
            .container
                .columns.is-vcentered.is-desktop
                    .column.is-4
                    .column.is-4
                        table.table
                            each category in categories
                                thead
                                    tr
                                        th= category.name
                                tbody
                                    each product in products
                                        if product.category === category
                                            tr
                                                td= product.name
                                                td= product.description
                                                td= product.price

                    .column.is-4


        block content