doctype html
html
    include head
    body
        nav.navbar.is-spaced.is-large
            .navbar-brand
                a.navbar-item(href='/')
                    if(logo)
                        img.is-rounded-desktop(src=logo)
                    else
                        #{name}
                div.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', onclick="document.querySelector('.navbar-menu').classList.toggle('is-active'); document.querySelector('.navbar-burger').classList.toggle('is-active');")
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
            .navbar-menu  
                .navbar-start
                    a.navbar-item(href='#menu') Menu
                    a.navbar-item(href='#timetable') Orari
                    a.navbar-item(href='#address') Dove siamo
                .navbar-end.is-hidden-touch
                    .navbar-item
                    .buttons
                        a.button.is-primary(href=`https://wa.me/39${whatsappNumber}`) Ordina su Whatsapp
                        a.button.is-info(href=`tel:${tel}`) Chiama
        .section.is-medium
            .container
                .columns.is-centered
                    .column.is-one-third.has-text-centered-mobile
                        p.title.is-size-1-desktop.is-size-3-mobile Ordina online
                        p.subtitle.is-size-3-desktop.is-size-5-mobile #{description}               
                    .column.is-one-third
                        figure.image.is-square
                            img.is-rounded(src=image)
        .section.is-medium(id='menu')
            .container
                .columns.is-centered
                    .column.is-half.has-text-centered
                        p.title.is-size-1-desktop.is-size-2-mobile MENU'
                        br
            .container
                .columns.is-centered
                    .column.is-half.has-text-left
                        each category in categories
                            .box
                                p.is-size-3.is-uppercase #{category.name}
                                br
                                each product in products
                                    if product.category === category.name
                                        p.is-size-4.has-text-weight-bold #{product.name} #{product.price}
                                        p.subtitle.is-size-5 #{product.description}
                    
        .section.hero.is-warning.is-medium
            .hero-body
                .container
                    .columns.is-centered
                        .column.is-one-third.has-text-centered(name='timetable')
                            p.title.is-size-1-desktop.is-size-2-mobile(id='timetable') Orari
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Lunedì #{timeTable.monday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Martedi #{timeTable.tuesday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Mercoledi #{timeTable.wednesday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Giovedi #{timeTable.thursday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Venerdi #{timeTable.friday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Sabato #{timeTable.saturday}
                                p.subtitle.is-size-3-desktop.is-size-4-mobile Domenica #{timeTable.sunday}
                        .column.is-one-third.has-text-centered(name='address')
                            p.title.is-size-1-desktop.is-size-2-mobile(id='address') Dove siamo
                                p.subtitle.is-size-3-desktop.is-size-4-mobile #{address}
        .section.hero.is-info.is-small
            .hero-body
                .container
                    .columns.is-centered
                        .column.is-one-fifth.has-text-centered
                            p © 2020 Pizzeria Planet di Dal Dosso Federica P.IVA: 0000000000 Tutti i diritti riservati
        block content